.embed-privacy-container {
	background-size: cover;
	margin-bottom: 1.5em;
	position: relative;
}

.embed-privacy-container:last-child {
	margin-bottom: 0;
}

.embed-privacy-content {
	display: none;
	height: 100%;
	width: 100%;
}
.aligncenter .embed-privacy-content > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.is-enabled .embed-privacy-content {
	display: block;
}

.embed-privacy-overlay {
	background: #989696;
    border-radius: 10px;
	box-sizing: border-box;
	color: #ddd;
	cursor: pointer;
	display: table;
	height: 100%;
	min-height: 200px;
	max-width: 100%;
	padding: 20px;
	position: relative;
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
	width: 100%;
	z-index: 100;
}

@media (min-width: 768px) {
	.embed-privacy-overlay {
		min-height: 300px;
	}
}

.embed-privacy-overlay label,
.embed-privacy-overlay h5 {
	color: #ddd;
	cursor: pointer;
	font-weight: 600;
	text-align: center;
	transition: color 0.25s ease-in-out;
	padding: 10px 0;
}
.embed-privacy-overlay label,
.embed-privacy-overlay .embed-privacy-input-wrapper {
	margin: 0;
}
.embed-privacy-overlay .embed-privacy-footer {
	display: table-footer-group;
	font-size: 0.85em;
	text-align: right;
}

.embed-privacy-overlay:hover .embed-privacy-logo {
	opacity: 1;
}
.embed-privacy-overlay:hover label,
.embed-privacy-overlay:hover p {
	color: #fff;
}

.embed-privacy-inner {
	display: table-cell;
	vertical-align: middle;
}

.embed-privacy-logo {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	height: 48px;
	margin-bottom: 30px;
	opacity: 0.8;
	transition: opacity 0.25s ease-in-out;
}

.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-21-9
	.embed-privacy-container,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-18-9
	.embed-privacy-container,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-16-9
	.embed-privacy-container,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-4-3
	.embed-privacy-container,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-1
	.embed-privacy-container,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-9-16
	.embed-privacy-container,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-2
	.embed-privacy-container {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.embed-privacy-opt-out-label {
	display: inline-block;
}

.is-disabled
	+ .embed-privacy-opt-out-label
	> .embed-privacy-provider-is-enabled {
	display: none;
}

.is-enabled
	+ .embed-privacy-opt-out-label
	> .embed-privacy-provider-is-disabled {
	display: none;
}

.embed-privacy-local-tweet {
	font-style: normal;
}

/* Consent Box */

.consent-box {
	clear: both;
	font-size: 1rem;
	float: none;
	margin: 1rem 0;
}

.consent-box a {
	color: #000;
	font-size: 0.875rem;
	text-decoration: underline;
}

.consent-box__headline {
	border-bottom: 0.125rem dotted #777;
	display: block;
	font-weight: 700;
	font-size: 1.25rem;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
}

.consent-box__description {
	margin-bottom: 0.5rem;
	background-position: right 0;
	background-size: 3.125rem auto;
	background-repeat: no-repeat;
	padding-right: 4.375rem;
	min-height: 3.4375rem;
}

.consent-box__description--facebook {
	background-image: url(data:image/svg+xml,%3Csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ viewBox=\'0\ 0\ 512\ 512\'%3E%3Cpath\ d=\'M504\ 256C504\ 119\ 393\ 8\ 256\ 8S8\ 119\ 8\ 256c0\ 123.78\ 90.69\ 226.38\ 209.25\ 245V327.69h-63V256h63v-54.64c0-62.15\ 37-96.48\ 93.67-96.48\ 27.14\ 0\ 55.52\ 4.84\ 55.52\ 4.84v61h-31.28c-30.8\ 0-40.41\ 19.12-40.41\ 38.73V256h68.78l-11\ 71.69h-57.78V501C413.31\ 482.38\ 504\ 379.78\ 504\ 256z\'%3E%3C/path%3E%3C/svg%3E);
}

.consent-box__description--twitter {
	background-image: url(data:image/svg+xml,%3Csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ viewBox=\'0\ 0\ 512\ 512\'%3E%3Cpath\ d=\'M459.37\ 151.716c.325\ 4.548.325\ 9.097.325\ 13.645\ 0\ 138.72-105.583\ 298.558-298.558\ 298.558-59.452\ 0-114.68-17.219-161.137-47.106\ 8.447.974\ 16.568\ 1.299\ 25.34\ 1.299\ 49.055\ 0\ 94.213-16.568\ 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772\ 6.498.974\ 12.995\ 1.624\ 19.818\ 1.624\ 9.421\ 0\ 18.843-1.3\ 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969\ 7.797\ 30.214\ 12.67\ 47.431\ 13.319-28.264-18.843-46.781-51.005-46.781-87.391\ 0-19.492\ 5.197-37.36\ 14.294-52.954\ 51.655\ 63.675\ 129.3\ 105.258\ 216.365\ 109.807-1.624-7.797-2.599-15.918-2.599-24.04\ 0-57.828\ 46.782-104.934\ 104.934-104.934\ 30.213\ 0\ 57.502\ 12.67\ 76.67\ 33.137\ 23.715-4.548\ 46.456-13.32\ 66.599-25.34-7.798\ 24.366-24.366\ 44.833-46.132\ 57.827\ 21.117-2.273\ 41.584-8.122\ 60.426-16.243-14.292\ 20.791-32.161\ 39.308-52.628\ 54.253z\'%3E%3C/path%3E%3C/svg%3E);
}

.consent-box__description--instagram {
	background-image: url(data:image/svg+xml,%3Csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ viewBox=\'0\ 0\ 448\ 512\'%3E%3Cpath\ d=\'M224.1\ 141c-63.6\ 0-114.9\ 51.3-114.9\ 114.9s51.3\ 114.9\ 114.9\ 114.9S339\ 319.5\ 339\ 255.9\ 287.7\ 141\ 224.1\ 141zm0\ 189.6c-41.1\ 0-74.7-33.5-74.7-74.7s33.5-74.7\ 74.7-74.7\ 74.7\ 33.5\ 74.7\ 74.7-33.6\ 74.7-74.7\ 74.7zm146.4-194.3c0\ 14.9-12\ 26.8-26.8\ 26.8-14.9\ 0-26.8-12-26.8-26.8s12-26.8\ 26.8-26.8\ 26.8\ 12\ 26.8\ 26.8zm76.1\ 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9\ 0-35.8\ 1.7-67.6\ 9.9-93.9\ 36.1s-34.4\ 58-36.2\ 93.9c-2.1\ 37-2.1\ 147.9\ 0\ 184.9\ 1.7\ 35.9\ 9.9\ 67.7\ 36.2\ 93.9s58\ 34.4\ 93.9\ 36.2c37\ 2.1\ 147.9\ 2.1\ 184.9\ 0\ 35.9-1.7\ 67.7-9.9\ 93.9-36.2\ 26.2-26.2\ 34.4-58\ 36.2-93.9\ 2.1-37\ 2.1-147.8\ 0-184.8zM398.8\ 388c-7.8\ 19.6-22.9\ 34.7-42.6\ 42.6-29.5\ 11.7-99.5\ 9-132.1\ 9s-102.7\ 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7\ 9-132.1c7.8-19.6\ 22.9-34.7\ 42.6-42.6\ 29.5-11.7\ 99.5-9\ 132.1-9s102.7-2.6\ 132.1\ 9c19.6\ 7.8\ 34.7\ 22.9\ 42.6\ 42.6\ 11.7\ 29.5\ 9\ 99.5\ 9\ 132.1s2.7\ 102.7-9\ 132.1z\'%3E%3C/path%3E%3C/svg%3E);
}

.consent-box__description--pinterest {
	background-image: url(data:image/svg+xml,%3Csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ viewBox=\'0\ 0\ 496\ 512\'%3E%3Cpath\ d=\'M496\ 256c0\ 137-111\ 248-248\ 248-25.6\ 0-50.2-3.9-73.4-11.1\ 10.1-16.5\ 25.2-43.5\ 30.8-65\ 3-11.6\ 15.4-59\ 15.4-59\ 8.1\ 15.4\ 31.7\ 28.5\ 56.8\ 28.5\ 74.8\ 0\ 128.7-68.8\ 128.7-154.3\ 0-81.9-66.9-143.2-152.9-143.2-107\ 0-163.9\ 71.8-163.9\ 150.1\ 0\ 36.4\ 19.4\ 81.7\ 50.3\ 96.1\ 4.7\ 2.2\ 7.2\ 1.2\ 8.3-3.3.8-3.4\ 5-20.3\ 6.9-28.1.6-2.5.3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6\ 0-54.7\ 41.4-107.6\ 112-107.6\ 60.9\ 0\ 103.6\ 41.5\ 103.6\ 100.9\ 0\ 67.1-33.9\ 113.6-78\ 113.6-24.3\ 0-42.6-20.1-36.7-44.8\ 7-29.5\ 20.5-61.3\ 20.5-82.6\ 0-19-10.2-34.9-31.4-34.9-24.9\ 0-44.9\ 25.7-44.9\ 60.2\ 0\ 22\ 7.4\ 36.8\ 7.4\ 36.8s-24.5\ 103.8-29\ 123.2c-5\ 21.4-3\ 51.6-.9\ 71.2C65.4\ 450.9\ 0\ 361.1\ 0\ 256\ 0\ 119\ 111\ 8\ 248\ 8s248\ 111\ 248\ 248z\'%3E%3C/path%3E%3C/svg%3E);
}

.consent-box__description--vimeo {
	background-image: url(data:image/svg+xml,%3Csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ viewBox=\'0\ 0\ 448\ 512\'%3E%3Cpath\ fill=\'currentColor\'\ d=\'M403.2\ 32H44.8C20.1\ 32\ 0\ 52.1\ 0\ 76.8v358.4C0\ 459.9\ 20.1\ 480\ 44.8\ 480h358.4c24.7\ 0\ 44.8-20.1\ 44.8-44.8V76.8c0-24.7-20.1-44.8-44.8-44.8zM377\ 180.8c-1.4\ 31.5-23.4\ 74.7-66\ 129.4-44\ 57.2-81.3\ 85.8-111.7\ 85.8-18.9\ 0-34.8-17.4-47.9-52.3-25.5-93.3-36.4-148-57.4-148-2.4\ 0-10.9\ 5.1-25.4\ 15.2l-15.2-19.6c37.3-32.8\ 72.9-69.2\ 95.2-71.2\ 25.2-2.4\ 40.7\ 14.8\ 46.5\ 51.7\ 20.7\ 131.2\ 29.9\ 151\ 67.6\ 91.6\ 13.5-21.4\ 20.8-37.7\ 21.8-48.9\ 3.5-33.2-25.9-30.9-45.8-22.4\ 15.9-52.1\ 46.3-77.4\ 91.2-76\ 33.3.9\ 49\ 22.5\ 47.1\ 64.7z\'%3E%3C/path%3E%3C/svg%3E);
}

.consent-box__toggle-wrapper {
	cursor: pointer;
	display: block;
	margin-bottom: 1rem;
	position: relative;
	width: 2.5rem;
	height: 1.875rem;
}

.consent-box__toggle {
	opacity: 0;
	width: 0;
	height: 0;
}

.consent-box .consent-box__toggle-visual {
	font-family: inherit;
	font-weight: 700;
	position: absolute;
	cursor: pointer;
	top: 0.5rem;
	left: 0;
	right: 0;
	border-radius: 0.8125rem;
	bottom: 0.5rem;
	background-color: #ddd;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.consent-box .consent-box__toggle-visual:before,
.consent-box
	.back-to-home
	.radial-progress
	.inset
	.consent-box__toggle-visual.inset-text:after,
.back-to-home
	.radial-progress
	.inset
	.consent-box
	.consent-box__toggle-visual.inset-text:after {
	-webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
	position: absolute;
	content: "";
	height: 1.25rem;
	width: 1.25rem;
	left: 0;
	top: -0.1875rem;
	background-color: #fff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

.consent-box .consent-box__toggle-visual:after {
	
	font-size: 0.875rem;
	position: absolute;
	left: 3rem;
	bottom: -3px;
	white-space: nowrap;
}

.consent-box__toggle:checked + .consent-box__toggle-visual {
	background-color: #519839;
}

.consent-box__toggle:checked + .consent-box__toggle-visual:before,
.back-to-home
	.radial-progress
	.inset
	.consent-box__toggle:checked
	+ .consent-box__toggle-visual.inset-text:after {
	-webkit-transform: translateX(1.25rem);
	-ms-transform: translateX(1.25rem);
	transform: translateX(1.25rem);
}

.consent-box__privacy-text {
	display: block;
	font-size: 0.875rem;
}

.consent-box__privacy-url {
	line-height: 1.875rem;
}

.consent-box--show-description {
	background-color: #eee;
	padding: 1rem;
}

.consent-box--show-description .consent-box__privacy-url {
	display: none;
}

.consent-box--show-compact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (max-width: 767px) {
	.consent-box--show-compact {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.consent-box--show-compact .consent-box__description,
.consent-box--show-compact .consent-box__headline,
.consent-box--show-compact .consent-box__privacy-text {
	display: none;
}

.fd-embed-privacy-content-line1 {
	text-align: left;
}

.fd-embed-privacy-content-line2 {
	text-align: left; 
	font-size: 0.7em
}

.embed-privacy-url {
	line-height: 1.6;
}

.consent-box p,.consent-box a {
	margin:0;
	font-size:14px;
}

.consent-box strong.consent-box__toggle-text {
	position: absolute;
	font-size: .875rem;
	position: absolute;
	left: 3rem;
	bottom: 8px;
	white-space: nowrap;
}

.consent-box p,.consent-box a{
	margin:0;
	font-size:14px !important
}

.consent-box.consent-box--show-compact p {
	margin:0;
	text-align: right;
}

.consent-box.consent-box--show-compact {
	padding: 0;
}

figure.wp-block-newspack-blocks-iframe {
    margin-bottom: 160px;
}

@media screen and (max-width: 600px){
	
	.consent-box.consent-box--show-compact p {
    	margin: 2px 0 0;
    	text-align: right;
    	width: 50%;
	}

	.consent-box.consent-box--show-compact{
		padding: 0;
	}
	
	figure.wp-block-newspack-blocks-iframe {
    	margin-bottom: 0;
	}
}
